<h4>Internal server error try refreshing thr page</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error:{{error.message}} </h5>
  <p class="font-weight-bold">
    Note: If you are seeing this angular is not to blame
  </p>
  <p>What to do next</p>
  <ol>
    <li>
      Open Browser Dev tools
    </li>
    <li>Exanine Request Url</li>
    <li>Use post man to examine Url </li>

  </ol>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}} </code>
</ng-container>

